.top {
  background-color: #edf1f4;
  margin-bottom: 120px;
  padding: 30px 0;
  text-align: center;

  &__title {
    @extend %rubik-400;
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #222933;
  }

  .breadcrumbs {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    &__list {
      display: flex;
    }

    &__item {
      padding-right: 20px;
      position: relative;
      @extend %rubik-400;
      color: #222933;
      font-size: 14px;
      line-height: 24px;


      &::before {
        content: '/';
        position: absolute;
        top: 0;
        left: -15px;
      }

      &:last-child {
        padding-right: 0;
      }

      &:first-child {

        &::before {
          display: none;
        }
      }
    }
  }
}

@media(max-width: 560px) {
  .top {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}