@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 75px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 50px;
  height: 39px;
  margin-right: 12px;
}

.logo-font {
  color: $default-color;
  font-size: 36px;
  line-height: 58px;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 30px;
  }

  &__list-link {
    color: $default-color;
    font-size: 15px;
    line-height: 12px;

    &:hover::after {
      content: '+';
      margin: 5px;
    }
  }

  &__list-link--active::after {
    content: '+';
    margin: 5px;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: 64%;
    color: $default-color;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    @extend %dmsans-400;
  }
}


.link-search {
  background: none;
  border: 0;
  position: relative;
  padding-right: 80px;

  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    position: absolute;
    top: -80%;
    left: -18%;
    z-index: -1;
  }
}

.link-like {
  background: none;
  border: 0;
  position: relative;
  padding-right: 60px;

  &::after {
    content: '';
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    position: absolute;
    top: -80%;
    left: -50%;
    z-index: -1;
  }
}

.link-trash {
  background: none;
  border: 0;
  position: relative;
  padding-right: 80px;

  &::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: #fde7d3;
    position: absolute;
    top: -29%;
    left: -29%;
    z-index: -1;

  }
}

.link-trash span {
  margin-right: 8px;
}

.link-more {
  background: none;
  border: 0;
  position: relative;

  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    position: absolute;
    top: -80%;
    left: -70%;
    z-index: -1;
  }
}





















@import 'media';