@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 40px 75px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 50px;
  height: 39px;
  margin-right: 12px;
}

.logo-font {
  color: $default-color;
  font-size: 36px;
  line-height: 58px;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 30px;
  }

  &__list-link {
    color: $default-color;
    font-size: 15px;
    line-height: 12px;

    &:hover::after {
      content: '+';
      margin: 5px;
    }
  }

  &__list-link--active::after {
    content: '+';
    margin: 5px;
  }
}

.user-nav {
  display: flex;
  transform: translateX(-17px);

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: 64%;
    color: $default-color;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    @extend %dmsans-400;
  }
}


.link-search {
  background: none;
  border: 0;
  position: relative;
  padding-right: 80px;

  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    position: absolute;
    top: -80%;
    left: -18%;
    z-index: -1;
  }
}

.link-like {
  background: none;
  border: 0;
  position: relative;
  padding-right: 60px;

  &::after {
    content: '';
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    position: absolute;
    top: -80%;
    left: -50%;
    z-index: -1;
  }
}

.link-trash {
  background: none;
  border: 0;
  position: relative;
  padding-right: 80px;

  &::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: #fde7d3;
    position: absolute;
    top: -29%;
    left: -29%;
    z-index: -1;

  }
}

.link-trash span {
  margin-right: 8px;
}

.link-more {
  background: none;
  border: 0;
  position: relative;

  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    position: absolute;
    top: -80%;
    left: -70%;
    z-index: -1;
  }
}

.footer-top {
  padding: 75px 0 65px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  align-items: baseline;

  &__contact {
    width: 270px;
    margin-right: 30px;
  }

  &__nav {
    width: 170px;
    margin-right: 130px;
  }

  &__item-form {
    max-width: 271px;
  }

  &__logo {
    margin-bottom: 19px;
    transform: translateY(5px);
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 10px;
  }

  &__title {
    @extend %dmsans-700;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 25px;
  }

  &__link {
    margin-bottom: 10px;
    display: block
  }

  &__text {
    margin-bottom: 35px;
    @extend %rubik-400;
    line-height: 24px;
    font-size: 14px;
    color: $footer-color;
  }



  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;

    &::placeholder {
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 12px 12px;
    margin-left: -5px;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy {
    @extend %rubik-400;
    line-height: 24px;
    font-size: 14px;
    color: $footer-color;
  }

  &__accept-list {
    display: flex;
  }

  &__accept-btn+.footer-bottom__accept-btn {
    margin-left: 25px;
    position: relative;
  }

  &__accept-link:after {
    content: '';
    position: absolute;
    height: 17px;
    width: 2px;
    background-color: $footer-color;
    top: 5px;
    left: -14px;
  }
}

.top-slider {
  background-image: url('../images/top-slider-bg.png');
  background-repeat: no-repeat;
  background-position: bottom 80px right 60px;
  background-color: #fcd7b6;
  padding-top: 200px;
  margin: 0 75px;

  &__content {
    margin-right: 30px;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    padding: 0 100px;
  }

  &__title {
    max-width: 500px;
    font-size: 72px;
    line-height: 70px;
    color: $title-color;
    @extend %rubik-500;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 360px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $default-color;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    max-width: 100%;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    padding: 20px 25px;
  }

  &__images {
    height: 100%;
    transform: translateY(59px);
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 40px;

    li {
      padding: 0 12px;

      button {
        padding: 0;
        color: $title-color;
        font-size: 10px;
        line-height: 9px;
        @extend %rubik-500;
        border: none;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.3;
        cursor: pointer;
      }

      &.slick-active {
        button {
          background-color: #fff;
          opacity: 1;
        }
      }
    }
  }
}


.info {
  display: grid;
  min-height: 170px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 75px;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  background-color: #fef7f0;
  position: relative;

  &__item {
    background-color: #fef7f0;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

  }

  &__item-support {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/info-item-1.svg');
      top: 50px;
      width: 50.875px;
      height: 53.13px;
      margin-left: -70px;
    }

    &::after {
      content: '';
      top: 0;
      left: 30%;
      background-color: #e8e4df;
      width: 1px;
      min-height: 170px;
      position: absolute;
    }
  }

  &__item-delivery {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/info-item-2.svg');
      top: 50px;
      width: 53.75px;
      height: 36.44px;
      margin-left: -80px;
    }
  }

  &__item-payment {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/info-item-3.svg');
      top: 50px;
      width: 53.56px;
      height: 52.25px;
      margin-left: -80px;

    }

    &::after {
      content: '';
      top: 0;
      right: 35%;
      background-color: #e8e4df;
      width: 1px;
      min-height: 170px;
      position: absolute;
    }


  }



  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.product {
  &__items {
    display: grid;
    min-height: 390px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 0 75px;
    position: relative;

  }

  &__item {
    background-color: #feefe2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;

    &-prev::before {
      content: '';
      position: absolute;
      background-image: url('../images/product/light-1.png');
      top: -25%;
      margin-right: 300px;
      width: 233px;
      height: 405px;
    }

    &-next::before {
      content: '';
      position: absolute;
      background-image: url('../images/product/light-2.png');
      top: -25%;
      margin-right: 350px;
      width: 222px;
      height: 399px;
    }

    &-title {
      max-width: 330px;
      margin-bottom: 20px;
      color: $title-color;
      @extend %dmsans-700;
      font-size: 26px;
      line-height: 32px;
    }

    &-text {
      max-width: 330px;
      margin-bottom: 30px;
      color: $title-color;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
    }

    &-botton {
      @extend %btn-view;
      margin-right: 130px;
    }
  }
}

.video-glee {
  background-image: url('../images/video-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;

  &__popup {
    max-width: 1920px;
    width: 100%;
    height: 501px;
    display: flex;
    justify-content: center;
    align-items: center
  }

}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}




















@import 'media';