.shop {
  padding: 70px 0 180px;

  .title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 35px;
    text-align: center;
  }

  &__categories {
    margin-bottom: 80px;
  }

  &__categories-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__categories-item+.shop__categories-item {
    margin-left: 30px;
  }

  &__categories-link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #191919;
    opacity: 0.7;
    transition: .3s;
  }

  &__categories-link:hover {
    opacity: 1;
  }

  .categories-link--active:hover {
    opacity: 1;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.shop-item {
  max-width: 270px;
  text-align: center;


  &__img-box {
    position: relative;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  &__link-box {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(3000%);
    transition: all .3s;
  }

  &__link {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      transition: all .3s;
    }
  }

  &__link:hover {
    transition: all .3s;

    path {
      fill: #fff;
    }

    background-color: #a3bbc8;
  }

  &__link+.shop-item__link {
    margin-left: 15px;
  }

  &:hover {
    .shop-item__link-box {
      transform: translateY(0)
    }
  }

  &__text {
    padding-top: 50px;
    margin-bottom: 20px;
  }

  &__title {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: $title-color;

  }

  &__price {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
  }
}


@media(max-width: 960px) {
  .shop-item {

    &__images {
      padding: 0 20px;
    }
  }
}

@media(max-width: 790px) {
  .shop {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px 20px;
    }
  }

  .shop-item {
    max-width: 100%;
  }
}

@media(max-width: 560px) {
  .shop {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .shop-item {
    margin: 0 20px;
  }
}

@media(max-width: 370px) {
  .shop {
    padding: 35px 0 75px;
  }

  .shop .title {
    font-size: 25px;
    margin-bottom: 15px;
  }
}