.header {
  padding: 40px 75px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 50px;
  height: 39px;
  margin-right: 12px;
}

.logo-font {
  color: $default-color;
  font-size: 36px;
  line-height: 58px;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 30px;

  }

  &__list-link {
    color: $default-color;
    font-size: 15px;
    line-height: 12px;
    position: relative;

    &:hover::after {
      content: '+';
      margin-left: 5px;
      position: absolute;

    }
  }

  &__list-link--active::after {
    content: '+';
    margin-left: 5px;
    position: absolute;
  }
}

.user-nav {
  display: flex;
  transform: translateX(-17px);

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: 64%;
    color: $default-color;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    @extend %dmsans-400;
  }
}


.link-search {
  background: none;
  border: 0;
  position: relative;
  padding-right: 80px;

  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    position: absolute;
    top: -80%;
    left: -18%;
    z-index: -1;
  }
}

.link-like {
  background: none;
  border: 0;
  position: relative;
  padding-right: 60px;

  &::after {
    content: '';
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    position: absolute;
    top: -80%;
    left: -50%;
    z-index: -1;
  }
}

.link-trash {
  background: none;
  border: 0;
  position: relative;
  padding-right: 80px;

  &::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: #fde7d3;
    position: absolute;
    top: -29%;
    left: -29%;
    z-index: -1;

  }
}

.link-trash span {
  margin-right: 8px;
}

.link-more {
  background: none;
  border: 0;
  position: relative;

  &::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    position: absolute;
    top: -80%;
    left: -70%;
    z-index: -1;
  }
}

@media (max-width: 1120px) {
  .menu {
    &__list {
      background-color: #a3bbc8;
      transform: translateY(-200%);
      position: absolute;
      top: 120px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;

      &.menu__list--active {
        transform: translateY(0);
        transition: all .3s;
      }
    }

    &__list-item+.menu__list-item {
      margin-left: 0;
    }

    &__list-item {
      width: 100%;
      text-align: center;
    }

    &__list-link {
      width: 100%;
      padding: 20px 0;
      display: block;
      color: #fff;
    }
  }
}

@media (max-width: 790px) {
  .header {
    padding: 20px 20px;
  }
}

@media (max-width: 630px) {
  .header {
    padding: 20px 39px;
  }

}

@media (max-width: 560px) {
  .header {
    padding-right: 20px;

    &__inner {
      display: block;
    }
  }

  .user-nav {
    margin-top: 30px;
  }

  .menu {
    &__list--active {
      margin-top: 50px;
    }
  }
}

@media (max-width: 370px) {
  .header {
    padding-right: 5px;
  }

  .link-search {
    padding-right: 60px;
  }

  .link-like {
    &::after {
      width: 160px;
      left: -25px;
    }
  }

  .link-trash {
    padding-right: 60px;

    span {
      margin-right: 0;
    }
  }
}