<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/info.min.css">
</head>

<body>

      {% include 'app/module/_header/_header.html' %}

  <main class="main">
          {% include 'app/module/_top/_top.html' %}

    <section class="information">
      <div class="container">
        <div class="ourtext">
          <h4 class="ourtext__title">
            Types of Personal Information We Collect
          </h4>
          <ol class="ourtext__list" type="1.">
            <li class="ourtext__item">
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            </li>
            <li class="ourtext__item">
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            </li>
            <li class="ourtext__item">
              Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </li>
            <li class="ourtext__item">
              Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat.
            </li>
            <li class="ourtext__item">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </li>
          </ol>
          <h4 class="ourtext__title">
            How marketpmss.com Collects Personal Infonnation
          </h4>
          <p class="ourtext__collects">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
          <h4 class="ourtext__title">
            How marketprosscom Uses Personal Information
          </h4>
          <p class="ourtext__uses">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
    </section>
          {% include 'app/module/_articles/_articles.html' %}

  </main>
      {% include 'app/module/_footer/_footer.html' %}



  <script src="js/main.min.js"></script>
</body>

</html>