.info {
  display: grid;
  min-height: 170px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 75px;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  background-color: #fef7f0;
  position: relative;
  margin-bottom: 70px;

  &__item {
    background-color: #fef7f0;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

  }

  &__item-support {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/info-item-1.svg');
      top: 50px;
      width: 50.875px;
      height: 53.13px;
      margin-left: -70px;
    }

    &::after {
      content: '';
      top: 0;
      left: 30%;
      background-color: #e8e4df;
      width: 1px;
      min-height: 170px;
      position: absolute;
    }
  }

  &__item-delivery {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/info-item-2.svg');
      top: 50px;
      width: 53.75px;
      height: 36.44px;
      margin-left: -80px;
    }
  }

  &__item-payment {
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/info-item-3.svg');
      top: 50px;
      width: 53.56px;
      height: 52.25px;
      margin-left: -80px;

    }

    &::after {
      content: '';
      top: 0;
      right: 35%;
      background-color: #e8e4df;
      width: 1px;
      min-height: 170px;
      position: absolute;
    }


  }



  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__item-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

@media(max-width: 1400px) {
  .info {
    display: flex;
    max-width: 100%;
    justify-content: space-around;

    &__item {
      margin-top: 0;
      padding-left: 30px;

      &::before {
        position: inherit;
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &__item-delivery {
      &::before {
        background-repeat: no-repeat;
        padding-bottom: 50px;
      }
    }

    &__item-payment {
      &::after {
        right: 37%;
      }
    }
  }
}

@media(max-width: 960px) {
  .info {
    display: block;
    background-color: #fff;

    &__item {
      background-color: #fef7f0;

      &::after {
        display: none;
      }
    }

    br {
      display: none;
    }

    &__item-delivery {
      border-top: 1px solid #e8e4df;
      border-bottom: 1px solid #e8e4df;
    }
  }
}

@media(max-width: 790px) {
  .info {
    margin: 0 20px;
  }
}

@media(max-width: 560px) {
  .info {
    &__item {
      padding-left: 20px;
    }
  }
}

@media(max-width: 370px) {
  .info {
    margin: 0 10px;

    &__item-title {
      line-height: 25px;
    }

    &__item {
      padding-right: 10px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 10px;
    }
  }
}