.top-slider {
  background-image: url('../images/top-slider-bg.png');
  background-repeat: no-repeat;
  background-position: bottom 80px right 60px;
  background-color: #fcd7b6;
  padding-top: 200px;
  margin: 0 75px;

  &__content {
    margin-right: 30px;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    padding: 0 100px;
  }

  &__title {
    max-width: 500px;
    font-size: 72px;
    line-height: 70px;
    color: $title-color;
    @extend %rubik-500;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 360px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $default-color;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    max-width: 100%;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    padding: 20px 25px;
  }

  &__images {
    height: 100%;
    transform: translateY(59px);
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 40px;

    li {
      padding: 0 12px;

      button {
        padding: 0;
        color: $title-color;
        font-size: 10px;
        line-height: 9px;
        @extend %rubik-500;
        border: none;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.3;
        cursor: pointer;
      }

      &.slick-active {
        button {
          background-color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .top-slider {
    background-position: bottom 50px right 18px;
    padding-top: 60px;
    background-size: 40%;

    &__item {
      padding: 0 30px;
    }

    &__images {
      width: 50%;
    }
  }

  .top-slider .slick-dots {
    margin-top: 30px;
  }
}

@media(max-width: 1120px) {
  .top-slider {
    background-position: bottom 170px right 18px;
  }
}

@media(max-width: 960px) {
  .top-slider {
    background-image: none;

    .top-slider__images {
      display: none;
    }
  }
}

@media(max-width: 790px) {
  .top-slider {
    margin: 0 20px;

    &__item {
      justify-content: flex-start;
    }
  }
}

@media(max-width: 560px) {
  .top-slider {
    margin: 25px 20px 0;
    padding-top: 25px;

    &__title {
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 0;
    }
  }

  .top-slider .slick-dots {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

@media(max-width: 370px) {
  .top-slider {
    margin: 25px 10px 0;

    &__title {
      font-size: 38px;
      line-height: 35px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 25px;
    }
  }
}