.design {
  padding: 70px 0 120px;

  .title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 35px;
    text-align: center;
  }

  &__categories {
    margin-bottom: 80px;
  }

  &__categories-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__categories-item+.design__categories-item {
    margin-left: 30px;
  }

  &__categories-link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #191919;
    opacity: 0.7;
    transition: .3s;
  }

  &__categories-link:hover {
    opacity: 1;
  }

  .design__categories-link--active:hover {
    opacity: 1;
  }
}

.design-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 30px;

  .design-item {
    position: relative;

    &__text {
      position: absolute;
      top: 0;
      left: 0;
      @extend %dmsans-700;
      margin: 30px 30px;

      .design-item__title {
        font-size: 20px;
        color: #191919;
      }

      .design-item__class {
        font-size: 16px;
        color: #a3bbc8;
      }
    }
  }
}