.design {
  padding: 70px 0 120px;

  .title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
    margin-bottom: 35px;
    text-align: center;
  }

  &__categories {
    margin-bottom: 80px;
  }

  &__categories-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__categories-item+.design__categories-item {
    margin-left: 30px;
  }

  &__categories-link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #191919;
    opacity: 0.7;
    transition: .3s;
  }

  &__categories-link:hover {
    opacity: 1;
  }

  .design__categories-link--active:hover {
    opacity: 1;
  }
}

.design-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 30px;

  .design-item {
    position: relative;

    &__text {
      position: absolute;
      top: 0;
      left: 0;
      @extend %dmsans-700;
      margin: 30px 30px;

      .design-item__title {
        font-size: 20px;
        color: #191919;
      }

      .design-item__class {
        font-size: 16px;
        color: #a3bbc8;
      }
    }
  }
}

@media(max-width: 1120px) {
  .design-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
  }

  .design-item {
    &__images {
      width: 100%;
    }
  }
}

@media(max-width: 790px) {
  .design-items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 20px;
  }
}

@media(max-width: 370px) {
  .design .title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .design-items .design-item__text {
    margin: 15px 10px;
  }

  .design-items {
    padding: 15px;
  }

  .design {
    padding: 35px 0 75px;

    &__categories {
      margin-bottom: 20px;
    }
  }
}